# Ignore test workflow files
exclude-paths:
  - conjur-openapi-spec/docker-compose.yml
  - conjur-openapi-spec/test/python/k8s/*

exclude-queries:
  # The following queries relate to unpinned versions, which we've decided to allow
  - 965a08d7-ef86-4f14-8792-4a3b2098937e # Apt Get Install Pin Version Not Defined
  - f45ea400-6bbe-4501-9fc7-1c3d75c32067 # Image Version Using 'latest'
  - 555ab8f9-2001-455e-a077-f2d0f41e2fb9 # Unpinned Actions Full Length Commit SHA
  # The following are OpenAPI spec warnings that we're choosing to ignore.
  # They relate mainly to the use of HTTP Basic Authentication and API Keys,
  # as well as not explicitly setting absolute URLs with the https scheme,
  # which we cannot do since Conjur can be deployed on any domain.
  - 77276d82-4f45-4cf1-8e2b-4d345b936228 # Global Security Scheme Using Basic Authentication
  - 68e5fcac-390c-4939-a373-6074b7be7c71 # Security Scheme Using HTTP Basic
  - 2d8c175a-6d90-412b-8b0e-e034ea49a1fe # Global Server Object Uses HTTP
  - 40e1d1bf-11a9-4f63-a3a2-a8b84c602839 # API Key Exposed In Global Security Scheme
  - a0bf7382-5d5a-4224-924c-3db8466026c9 # Server URL Not Absolute
  # The following are for false positives caused by items defined in different files using $ref
  - 84c826c9-1893-4b34-8cdd-db97645b4bf3 # Path Without Operation (v3)
  - 698a464e-bb3e-4ba8-ab5e-e6599b7644a0 # Components Parameter Definition Is Unused
  - 9c3ea128-7e9a-4b4c-8a32-75ad17a2d3ae # Components Response Definition Is Unused
  - 962fa01e-b791-4dcc-b04a-4a3e7389be5e # Components Schema Definition Is Unused
  # More specific ignored rules
  - 2ea04bef-c769-409e-9179-ee3a50b5c0ac # Numeric Schema Without Maximum (v3) - no need for maximum int values
  - 8c8261c2-19a9-4ef7-ad37-b8bc7bdd4d85 # Maximum Length Undefined (v3) - no need for maximum string length
  - fb7d81e7-4150-48c4-b914-92fc05da6a2f # Unknown Property (v3) - this is for the custom property 'x-conjur-settings'
  - 9f88c88d-824d-4d9a-b985-e22977046042 # Additional Properties Too Permissive - false positive for objects where it's irrelevant
  - 5915c20f-dffa-4cee-b5d4-f457ddc0151a # Empty Array
  - 237402e2-c2f0-46c9-9cf5-286160cf7bfc # Path Is Ambiguous (v3)
