# Ignore test workflow files
exclude-paths:
  - conjur-openapi-spec/docker-compose.yml
  - conjur-openapi-spec/test/python/k8s/*

exclude-queries:
  # The following queries relate to unpinned versions, which we've decided to allow
  - 965a08d7-ef86-4f14-8792-4a3b2098937e # Apt Get Install Pin Version Not Defined
  - f45ea400-6bbe-4501-9fc7-1c3d75c32067 # Image Version Using 'latest'
  - 555ab8f9-2001-455e-a077-f2d0f41e2fb9 # Unpinned Actions Full Length Commit SHA