=begin
{{> api_info}}
=end

# Common files
require '{{gemName}}/api_client'
require '{{gemName}}/api_error'
require '{{gemName}}/version'
require '{{gemName}}/configuration'
require 'yaml'

# Models
{{#models}}
{{#model}}
require '{{gemName}}/{{modelPackage}}/{{classFilename}}'{{/model}}
{{/models}}

# APIs
{{#apiInfo}}
{{#apis}}
require '{{importPath}}'
{{/apis}}
{{/apiInfo}}

module {{moduleName}}
  class << self
    # Customize default settings for the SDK using block.
    #   {{moduleName}}.configure do |config|
    #     config.username = "xxx"
    #     config.password = "xxx"
    #   end
    # If no block given, return the default Configuration object.
    def configure
      if block_given?
        yield(Configuration.default)
      else
        Configuration.default
      end
    end

    def configure_from_file(filename='~/.conjurrc')
      filepath = File.expand_path(filename)
      begin
        file = File.open(filepath)
        data = YAML.load(file)
        file.close
      rescue Exception => e
        puts e
      end

      Configuration.default.configure do |conf|
        conf.account ||= data.fetch('account', nil)
        conf.host ||= data.fetch('appliance_url', nil)
        conf.cert_file ||= data.fetch('cert_file', nil)
      end

      if block_given?
        yield(Configuration.default)
      else
        Configuration.default
      end
    end

    def version
      version = ENV.fetch('CONJUR_VERSION', '5')
      if version.empty?
        5
      else
        version.to_i
      end
    end

    def v5?
      version == 5
    end
  end
end
